.RegistrationForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.RegistrationForm h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .RegistrationForm {
    padding: 10px;
  }
}

@media screen and (max-width: 502px) {
  .RegistrationForm {
    max-width: 200px;
  }
}

@media screen and (max-width: 502px) {
  .RegistrationForm {
    max-width: 502px;
  }
}

@media screen and (min-width: 502px) {
  .RegistrationForm {
    max-width: 502x;
  }
}

.RegistrationForm label {
  font-weight: bold;
}

.RegistrationForm .form-control {
  margin-bottom: 20px;
}

.RegistrationForm .form-row.dob {
  display: flex;
}

.RegistrationForm .form-row.dob .form-group {
  margin-right: 10px;
  flex-basis: 33.33%;
}

.RegistrationForm .btn-primary {
  margin-top: 20px;
  margin-right: 10px;
}

.RegistrationForm .btn-secondary {
  margin-top: 20px;
}

.RegistrationForm .alert {
  margin-top: 20px;
}
.form-row .form-control {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .form-row .form-control {
    margin-right: 0;
  }

  .form-row .form-control:last-child {
    margin-top: 10px;
  }
}

/* Header */
.navbar {
  background-color: #343a40;
  padding: 0.5rem 1rem;
}
.navbar-brand img {
  margin-right: 0.5rem;
}

/* Logo */
img {
  max-width: 100%;
  margin-left: 100px;
  height: auto;
}

.form-header{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 137px;
  padding-bottom: 20px;
}

.form-header h3 {
  text-align: Left;
  color: #2C3642;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.button{
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
}

.btn-submit{
  width: 120px;
  margin: 5px;
  background-color: #127C95 !important;
  border: 1px solid #127C95 !important;

}

.btn-cancel{
  width: 120px;
  margin: 5px;
  background-color: #f5f5f5 !important; 
  border: 1px solid #127C95 !important;
  color: #127C95 !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: calc(100% / 3 - 1rem);
  margin-right: 1rem;
}

.col:last-child {
  margin-right: 0;
}


body {
  background-color: #f5f5f5;
}

.toast-message{
  background: #FFC0C0 !important;
  color: #333333 !important;
  font-size: 16px !important;
  
}

.success{
  background: #CDFADC !important;
  color: #333333 !important;
  font-size: 16px !important;
  
}
